*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.social_media {
    display: flex;
    flex-direction: column;
}

.social_media a {
    margin: 1px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: darkgray;
    color:#fff;
    width: 200px;
    height: 60px;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    
}

.in-block{
    margin: 4px;
    border: 1px solid gray;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
}

.in-block:hover{
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}

.social_media svg {
    margin-left: 8px;
    height: 50px;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, .4));
}

.social_media .name{
    margin-left: 12px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: inherit;
    text-decoration-line: none;
}

.social_media a.linkedin svg{
    color: darkblue;
    opacity: .8;
}
.social_media a.github svg{
    color: black;
    opacity: .8;
}
.social_media a.youtube svg{
    color: red;
    opacity: .8;
}
.social_media a.facebook svg{
    color: blue;
    opacity: .8;
}
.social_media a.instagram svg{
    color: blueviolet;
    opacity: .8;
}


@media screen and (max-width: 925px){
    
    .social_media{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .social_media a{
        max-width: 150px;
        max-height: 35px;
    }

    .social_media a span{
        font-size: 8pt;
    }

    .social_media a:not(:last-child){
        margin-right: 50px;
    }
}
